@font-face {
    font-family: 'Clash';
    src: url('./regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Clash';
    src: url('./bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }