@import '../fonts/fonts.css'; 
#home {
  padding-bottom: 0rem; 
  transition: opacity 0.5s ease-in-out; 
}

#home h2 {
  font-size: 5rem;
}

p {
  font-size: 3rem;
}

.color-change {
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% { color: #00FFFF; }
  25% { color: #1E90FF; }
  50% { color: #8A2BE2; }
  75% { color: #5A0D91; }
  100% { color: #87CEEB; }
}

.typing-effect {
  font-weight: bold;
  display: inline-block;
}

.button {
  background-color: #003366; 
  color: #ffffff; 
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-family: 'Clash';
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 2rem; 
}

.button:hover {
  background-color: #002244;
  transform: scale(1.05); 
}

.button:focus {
  outline: none; 
}
