#projects {
    color: #fff; 
  }
  
  #projects h2 {
    color: #fff; 
  }
  
  #projects ul {
    list-style: none;
    padding: 0;
  }
  
  #projects li {
    margin: 1rem 0; 
  }
  
  #projects a {
    color: #1e90ff; 
    text-decoration: underline; 
  }
  
  #projects a:hover {
    color: #1c86ee; 
  }
  